header.header
    nav.navmenu
        ul.navmenuLi 
            li 
                a.navmenuLiA(href="/index.html") Главная 
            li 
                a.navmenuLiA(href="/about.html") Обо мне 
            li 
                a.navmenuLiA(href="/contact.html") Контакты