.footer {
    background: url(https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    color: honeydew;
}
.footerH3 {
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 10px;
}
.footerH4 {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-left: 10px;
}

